<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjtB79wdI4rckNT3g36k3iooPAhzhXd2E</string>
	<key>GCM_SENDER_ID</key>
	<string>457932668434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>project.FulLife</string>
	<key>PROJECT_ID</key>
	<string>fullife-731b4</string>
	<key>STORAGE_BUCKET</key>
	<string>fullife-731b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457932668434:ios:5fef6a8e44a193de06e2cb</string>
</dict>
</plist>